<h4> Logged In as:</h4> <p> <%= current_user.email %> </p>
<%= link_to "Home",root_path%>


<h1>New Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>

<%= link_to "Sign Out", destroy_user_session_path,method: :delete %>
